body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}
.header-photo:hover {
    box-shadow: 0 0 25px rgba(0,0,0,0.45);
}

.header-photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: 0.3s;
    cursor: pointer;
}
