body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}
.header-photo:hover {
    box-shadow: 0 0 25px rgba(0,0,0,0.45);
}

.header-photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: 0.3s;
    cursor: pointer;
}
#Taalkennis {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#Taalkennis th, #Taalkennis td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

#Taalkennis th {
    background-color: #fa9730;
    font-weight: bold;

}

#Taalkennis tr:nth-child(even) {
    background-color: #efa85d;
    color: white;

}
#Taalkennis tr:nth-child(odd) {
    background-color: #f4cea7;
    color: white;

}